body {
    background-image: url("../images/leopard-background.jpg");
    
}

.title-img {
    background-image: url("../images/leapardy-title.jpg");
    height: 30rem;
    opacity: .5;
    
}

.display-field {
    background-color: gold;
    /* opacity: .6; */
}

.btn .timer .game {
    opacity: 1;
}

.choice {
    margin: 1rem;
}

