body {
    background-image: url("../images/leopard-background.jpg");
    
}

.title-img {
    background-image: url("../images/leapardy-title.jpg");
    height: 30rem;
    opacity: .8;
    
}

.display-field {
    background-color: gold;
    /* opacity: .8; */
}

.btn .timer-text .game-text {
    opacity: 1;
    margin: 1rem;
}

.choice {
    margin: 1rem;
}

